/****************************************************************************************************************************************/
/*************************** UNIVERSAL STYLES *****************************/
/****************************************************************************************************************************************/

body{
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 550;
    color: #363636;
}

p{
    line-height: 190%;
}

a{
    text-decoration: none;
    color: teal;
}

/****************************************************************************************************************************************/
/*************************** MENU *****************************/
/****************************************************************************************************************************************/


#menu{

    background-color: #16a085;
    height: 100px;
}

#menu ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align-last: center;
}

#menu li{
    display: inline-block;
}

#menu a{
   letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    display: block;
    border: none;
    padding: 0 40px;
    font-size: 20px;
    line-height: 100px;
}

#menu a:hover{
    color: #44d7ba;
}


/****************************************************************************************************************************************/
/*************************** HEADER *****************************/
/****************************************************************************************************************************************/

#header{
    padding: 60px 0 40px 0;
    background-color: #333333;
    text-align: center;
}

#header h1{
    letter-spacing: 0.2em;
    font-size: 45px;
    color: white;
}

#header p{
    letter-spacing: 0.1em;
    font-size: 20px;
    color: white;
}


/****************************************************************************************************************************************/
/*************************** BANNER *****************************/
/****************************************************************************************************************************************/


#banner{
    height: 300px;
}

#banner img{
    width: 100%;
    height: 300px;
}


/****************************************************************************************************************************************/
/*************************** PAGE *****************************/
/****************************************************************************************************************************************/

#page{
    min-height: 400px;
    padding: 20px;
}

#page h2{
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: 400;
    color: #16a085;
    text-transform: uppercase;
}


/*************************** CONTENT *****************************/


#content{
    float: left;
    width: 70%;
}


/*************************** SIDE-BAR *****************************/

#side-bar{
    float: right;
    width: 25%;
}

/*************************** LISTS *****************************/


ul.styled{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul.styled li{
    border-top: solid 1px #e5e5e5;
    padding: 15px 0;
}


/****************************************************************************************************************************************/
/*************************** FOOTER *****************************/
/****************************************************************************************************************************************/

#footer{
    width: 100%;
    height: 340px;
    background-color: #1e1b1a;
    padding-top: 25px;
    padding-left: 25px;
    clear: both;
    padding-bottom: 46px;
    font-size: 15px;
}

#footer h2{
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
}


#footer p{
    color: #adadad;
}

#footer a{
    color: #adadad;
}


#box-1{
    float: left;
    width: 30%;
    padding-right: 30px;
}

#box-2{
    float: left;
    width: 30%;
    padding-right: 30px;
}

#box-3{
    float: right;
    width: 30%;
    padding-left: 30px;
}

/****************************************************************************************************************************************/
/*************************** COPYRIGHT *****************************/
/****************************************************************************************************************************************/


#copyright{
    width: 100%;
    height: 130px;
    background-color: #16a085;
    text-align-last: center;
    padding-top: 55px;
    clear: both;
}

#copyright p{
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: white;
}

/****************************************************************************************************************************************/
/*************************** GALLERY *****************************/
/****************************************************************************************************************************************/






#gallery img{
	width:120px;
	margin:12px;
	-moz-transition: -moz-transform 0.5s ease-in;
	-webkit-transition: -webkit-transform 0.5s ease-in;
	-o-transition: -o-transform 0.5s ease-in;
}


#gallery img:hover{
	-moz-transform: scale(3);
	-webkit-transform: scale(3);
	-o-transform: scale(3);
 }













